.ButtonBody {
  background: url('./../../assets/images/backgrounds/frost.png');
  opacity: 100%;
  background-color: rgba(153, 173, 211, 100%);
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 32px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
