.pageHeader {
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 33px;
  letter-spacing: 0.09em;
  margin-bottom: 2.5rem;
}
.PageContent {
  margin-top: 3.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
@media screen and (max-width: 900px) {
  .pageHeader {
    font-size: 2.6rem;
    margin: 0 1.25rem;
  }
  .PageContent {
    margin-top: 2.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
