.SideNameInputGroup {
  padding: 0.5rem;
  float: left;
  width: 50%;
}
.SideName {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.07em;
  color: #000000;
}
.SideNameInput {
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  margin: 1rem 0;
  letter-spacing: 0.07em;
}
.PostedLeavePrintoutContainer input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'] {
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  height: 5rem;
  border: 2px solid gray;
  background: #ffffff;
  padding: 0 2rem;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.07em;
}
.SideNameTextArea {
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.07em;
  border-radius: 10px;
  resize: none;
  border: 2px solid gray;
  background: #ffffff;
  display: inline-block;
  width: 100%;
  margin: 1rem 0;
  padding: 1.5rem;
}
.PostedLeavePrintoutContainer input[type='file']::-webkit-file-upload-button {
  border-radius: 10px;
  height: 5rem;
  margin-bottom: 2.5rem;
  padding: 0 5rem;
  border: 2px solid gray;
  outline: none;
  display: block;
}
.PostedLeavePrintoutContainer input[type='file']::file-selector-button {
  border-radius: 10px;
  height: 5rem;
  margin-bottom: 2.5rem;
  padding: 0 5rem;
  border: 2px solid gray;
  outline: none;

  display: block;
}
.PostedLeavePrintoutContainer input[type='file']::-ms-browse {
  border-radius: 10px;
  height: 5rem;
  margin-bottom: 2.5rem;
  padding: 0 5rem;
  border: 2px solid gray;
  outline: none;

  display: block;
}
button {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  margin: 2.5rem 0;
}
@media screen and (max-width: 90rem) {
  .SideNameInputGroup {
    padding: 0.5rem;
    float: left;
    width: 100%;
  }
}
