.SortButtonBody {
	height: 4rem;
	width: 16rem;
	border: 2px solid rgba(0, 0, 0, 0.3);
	background-color: rgba(255, 255, 255, 100);
	padding: 1rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	letter-spacing: 0.07em;
	font-weight: normal;
}
